In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('airquality.csv',sep = ',',header = 0,encoding = 'latin')
data

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
5     28.0      NaN  14.9    66      5    6
6     23.0    299.0   8.6    65      5    7
7     19.0     99.0  13.8    59      5    8
8      8.0     19.0  20.1    61      5    9
9      NaN    194.0   8.6    69      5   10
10     7.0      NaN   6.9    74      5   11
11    16.0    256.0   9.7    69      5   12
12    11.0    290.0   9.2    66      5   13
13    14.0    274.0  10.9    68      5   14
14    18.0     65.0  13.2    58      5   15
15    14.0    334.0  11.5    64      5   16
16    34.0    307.0  12.0    66      5   17
17     6.0     78.0  18.4    57      5   18
18    30.0    322.0  11.5    68      5   19
19    11.0     44.0   9.7    62      5   20
20     1.0      8.0   9.7    59      5   21
21    11.0    320.0  16.6    73      5   22
22     4.0     25.0   9.7    61      5   23
23    32.0     92.0  12.0    61      5   24
24     NaN     66.0  16.6    57      5   25
25     NaN    266.0  14.9    58      5   26
26     NaN      NaN   8.0    57      5   27
27    23.0     13.0  12.0    67      5   28
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
..     ...      ...   ...   ...    ...  ...
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [3]:
#1.	Fetch the observations for 9 day of June

data.query("(Month == 6) & (Day == 9)")

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

In [4]:
#2.	Find Average temperature for the month of June. 

data[data.Month == 6].Temp.mean()

79.1

In [5]:
#3.	To which day of June has the least temperature

temp = data[data.Month == 6].Temp.min()
data.loc[(data.Month == 6) & (data.Temp == temp),'Day']

48    18
Name: Day, dtype: int64

In [6]:
#4.	Find Maximum Ozone value for the month of May

data[data.Month == 5].Ozone.max()

115.0

In [7]:
#5.	Find the count of the missing values in the ozone column of the data set

data.Ozone.isnull().sum()

37

In [8]:
#6.	Find out What is the mean of the Ozone column in this dataset

data.Ozone.mean()

42.12931034482759

In [9]:
#7.	Find out which month has the highest temperature

data[data.Temp == data.Temp.max()]['Month']

119    8
Name: Month, dtype: int64

In [10]:
#8.	Find out the wind value when the Ozone becomes maximum

data[data.Ozone == data.Ozone.max()]['Wind']

116    3.4
Name: Wind, dtype: float64

In [18]:
#9.	Find out the months for which the airquality observations have been carried out

data.groupby('Month').count()

       Ozone  Solar.R  Wind  Temp  Day
Month
5         26       27    31    31   31
6          9       30    30    30   30
7         26       31    31    31   31
8         26       28    31    31   31
9         29       30    30    30   30

In [17]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.

data[data.Day == 1][['Month','Ozone','Temp']]

     Month  Ozone  Temp
0        5   41.0    67
31       6    NaN    78
61       7  135.0    84
92       8   39.0    81
123      9   96.0    91

In [16]:
#11.	Which day of which month corresponds to the least Ozone Value. 

data[data.Ozone == data.Ozone.min()][['Day','Month']]

    Day  Month
20   21      5

In [15]:
#12.	Convert the temperature for all the observations to Centigrade scale

data.Temp - 32 * 9/5

0       9.4
1      14.4
2      16.4
3       4.4
4      -1.6
5       8.4
6       7.4
7       1.4
8       3.4
9      11.4
10     16.4
11     11.4
12      8.4
13     10.4
14      0.4
15      6.4
16      8.4
17     -0.6
18     10.4
19      4.4
20      1.4
21     15.4
22      3.4
23      3.4
24     -0.6
25      0.4
26     -0.6
27      9.4
28     23.4
29     21.4
       ...
123    33.4
124    34.4
125    35.4
126    35.4
127    29.4
128    26.4
129    22.4
130    20.4
131    17.4
132    15.4
133    23.4
134    18.4
135    19.4
136    13.4
137    13.4
138    20.4
139     9.4
140    18.4
141    10.4
142    24.4
143     6.4
144    13.4
145    23.4
146    11.4
147     5.4
148    12.4
149    19.4
150    17.4
151    18.4
152    10.4
Name: Temp, Length: 153, dtype: float64